

.cont {
    margin: 0 auto;
    margin-top: 200px;
}

.text {
    width: 50%;
}

.butt {
    border-radius: 5px;
}

.result {
    border: 1px solid rgb(191, 191, 191);
    height: 300px;
    border-radius: 6px;
}
